.wrapper {
  display: flex;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  background-color: #c50b29;
  color: #f1f5f9;
  font-size: 0.75rem;
}
