.wrapper {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #f9fafb;
  color: #111827;
}

.content{
  cursor: pointer;
}