.block {
  position: absolute;
  width: 100%;
  right: 5px;
  bottom: 0;
  &.message_actions_tip {
    right: 0;
    bottom: 50px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &.centered {
    align-items: center;
  }
}
.tip {
  color: #f8fafc;
  background-color: #1e3a8a;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 4rem;
  font-size: 0.75rem;
  text-align: center;
}
.img {
  padding: 0;
  transform: rotate(180deg);
}
